@font-face {
  font-family: OpenSans;
  font-weight: 300;
  src: url('fonts/Montserrat-Light.ttf');
}

@font-face {
  font-family: OpenSans;
  font-weight: 400;
  src: url('fonts/Montserrat-Regular.ttf');
}

@font-face {
  font-family: OpenSans;
  font-weight: 600;
  src: url('fonts/Montserrat-SemiBold.ttf');
}

@font-face {
  font-family: OpenSans;
  font-weight: 700;
  src: url('fonts/Montserrat-Bold.ttf');
}
